#name of the application. config client will look for config files names with these prefix
spring.application.name= {{projectName}}

# URL of the spring-cloud-config server
spring.cloud.config.uri=http://localhost:8888

#disables the security
management.security.enabled=false